<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:500,500i,600,600i,700,700i" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.adocka.com/images/adockaiconimagetransparent.ico">
    <title>@ViewData["Title"] - Aurelia</title>
    @*        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />*@
</head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
